.reveal {transition: 300ms;}


.nft-card-body {
	transition: 300ms;
}
.nft-card-body.reveal {


}
.nft-card-body.reveal_active {
	transform: translate(0, 0);

}

.some-projects__item.reveal {
	opacity: 0;
}
.some-projects__item:nth-child(3n+1).reveal {
	transition: 200ms;
}
.some-projects__item:nth-child(3n+3).reveal {
	transition: 300ms;
}

.some-projects__item:nth-child(3n+2).reveal_active {
	transition: 500ms;
	opacity: 1;
}
.some-projects__item:nth-child(3n+1).reveal_active {
	transition: 700ms;
	opacity: 1;
}
.some-projects__item:nth-child(3n+3).reveal_active {
	transition: 100ms;
	opacity: 1;
}